<form method="post" action="{{ path('race_car_parameter_delete', {'id': race_car_parameter.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ race_car_parameter.id) }}">
    <button class="btn">Delete</button>
</form>
