{% extends 'base.html.twig' %}

{% block title %}New Driver Race Inscription{% endblock %}

{% block body %}
    <h1>Driver Race Subscription</h1>

    {{ include('driver_race/_form.html.twig') }}

    <a href="{{ path('driver_race_index') }}">back to list</a>
{% endblock %}
