{% extends 'base_public.html.twig' %}
{% set id=userGroup.id %}
{% block content %}
    <div class="container">
        <h2>Race results</h2>
        <p>
            {% for race in userGroup.races %}
            <a href="{{ path('event_view',{'id':race.id}) }}">{{ race.date | date('Y-m-d H:i:s') }} - {{ race }}</a>
            {% endfor %}
        </p>
    {% include 'general_classmen/tables.html.twig' %}
    </div>
{% endblock %}